* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Alfa Slab One", serif;
}

.container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.none {
    display: none !important;
}

/* Header */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    /*align the flex-elements in a column Y-axis*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(114, 142, 219);
    background-image: url("./../img/header/header-back.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;

}

.header-link {
    display: block;
    color: black;
    text-decoration: none;
}

.header-link:hover {
    color: pink;
}


.header-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: beige;

}

.header-subtitle {
    margin: 0;
    font-weight: 200;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: beige;
}

.header-arrow {
    width: 47px;
    height: 47px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    filter: invert(88%) sepia(18%) saturate(315%) hue-rotate(16deg) brightness(96%) contrast(92%);
}

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;
}

.portfolio-header {
    margin: 0;
    margin-bottom: 50px;
    font-style: oblique;
    font-weight: bold;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: black;
    letter-spacing: 0.04em;
}

.portfolio-class-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    margin-bottom: 30px;
    padding: 20px;
    max-width: 540px;
    background-color: white;
    box-shadow: 0px 10px 40px pink;
}

.card:last-child,
.card:nth-last-child(2) {
    margin-bottom: 0;
}

.card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    margin-bottom: 20px;
}

.card-title {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
}

.card p {
    margin: 0;
    font-size: 16px;
    line-height: 1.3;
}

/* Footer */

.footer {
    background: rgb(88, 88, 226);
    padding-top: 45px;
    padding-bottom: 130px;
    color: beige;

}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright {
    line-height: 1.3;

}

.footer-copyright-name {
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 15px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 100;
    font-size: 16px;

}


/* Hero Info */

.hero-info {
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
}

.hero-header {
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-style: 46px;
    line-height: 1.3;
}

.hero-img {
    margin-bottom: 30px auto 70px;

}

.hero-description {
    margin: 0 auto 60px;
    max-width: 730px;
    margin-bottom: 60px;
}

.hero-description p {
    margin-top: 0;
    margin-bottom: 15px;
    font-style: 16px;
    line-height: 1.5;
}

.hero-btn-back {
    display: inline-block;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 3px solid blue;
    border-radius: 50px;
    color: blue;
    font-weight: 700;
    font-style: 16px;
    line-height: 54px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-btn-back:hover {
    background-color: blue;
    columns: white;

}

/* For screens with width < 800px  */
@madia (max-width:800px) {
    .block {
        width: 400px;
        background-color: coral;
    }
}