body {
    margin: 0;
    font-family: "Alfa Slab One", serif;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column; /*align the flex-elements in a column Y-axis*/
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(114, 142, 219);
    background-image: url("./../img/header/header-back.jpg");
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    
}


.header-title {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 56px;
    line-height: 130%;
    text-align: center;
    color: beige;
  
}

.header-subtitle {
    margin: 0;
    font-weight: 200;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: beige;
}

.header-arrow {
    width: 47px;
    height: 47px;
    background: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    filter: invert(88%) sepia(18%) saturate(315%) hue-rotate(16deg) brightness(96%) contrast(92%);

}



